extends layout

block content
  body
    .mainFlexContainer
      .logout
        button.logOutBtn Logout
      .headerSection
        .titleSection
          h1 CHAT APP
        form.searchSection
          input(type="text" placeholder="Search for a chatroom")
          button.searchbtn(type='submit' value='submit') Search
      .chatRoomsTitle
        h2 Chatrooms 
        form.addChatRoom(action='/createchatroom' method='POST')
          input.insertChatRoom(type="text" placeholder="chatroom" name="roomname")
          button.createChatRoom(type='subsubmit') Add
      .mainChatHub
        .chatRoomCards
         for newroom in newrooms
           .chatRoomCardObject
             p=newroom.roomname
        .chatMessages  
          ul#messages
          form#chatRoom(action="")
            input#messageInput(autocomplete="off")
            button#chatBtn Send
          
