extends layout

block content
  .loginWrapper
    .loginContainer
      h1 Log into the Chatapp
      form(method='post').user.login
        label Email: 
          input(type='text' name='email')
        label Password: 
          input(type='text' name='password')
        button(type='submit' value='Submit')
          | Log in
