extends layout

block content
  .splashWrapper
    .userContainer
      h1 Jeff's and Eugene's Chatapp!
      .userSignupLogin
        a(type='button' href='/users/signup')
         .button
            | Sign up
        a(type='button' href='/users/login')
         .button
            | Login
      
