extends layout

block content
  .splashWrapper
    .userContainer.form
      h1.splashTitle CHAT APP
      .userSignupLogin
        a(type='button' href='/users/signup')
         #splashButton.button
            | Get started
      
