* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}

body {
 font: 13px Helvetica, Arial;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.splashTitle {
  font-size: 3em;
}
.signup{
  display: flex;
  flex-direction: column;
}
.signup label{
  position: relative;
}
#splashButton {
  padding: 5%;
}

.userSignupLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*============================================*/
/*chat room section*/
.mainFlexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
}
.logout{
  display:flex;
  justify-content: flex-end;
  margin: 0 0 20% 0;

}
.logOutBtn{
  height:2% ;
  padding: 1.5% ;
}
.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleSection {
  font-size: 2em;
  width: 30%;
}

.searchSection {
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width:35%;
}

.searchbtn {
  margin: 0 5% 0 5%;
  width: 23%;
  padding: 1%;
}

.chatRoomsTitle {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.addChatRoom{
  width: 30%;
  flex-direction: row;
}

.createChatRoom {
  margin: 0 0 0 2%;
  width: 15%;
  height: 5%;
}

.mainChatHub {
  display: flex;
  flex-direction: row;
}

.chatRoomCards {
  width: 30%;
}

.chatMessages {
  width: 70%;
  height: 100%;
}

form#chatRoom {
 background: rgb(140, 137, 138);
 display: flex;
 padding: 3px;
 position: fixed;
 bottom: 0;
 width: 100%;
}

form#chatRoom input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form#chatRoom button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 15%;
  padding: 5%;
  width: 60%;
}

#messages li {
 align-self: flex-end;
 background: rgb(29, 117, 181);
 border-radius: 5px;
 color: white;
 padding: 5px 10px;
 margin: 2% 0;
 padding: 1%;
 width: 70%;
}

#messages li:nth-child(odd) {
  align-self: flex-start;
  background: rgb(207, 201, 200);
  border-radius: 5px;
  color: black;
  padding: 1%;
  width: 70%;
}

#messageInput {
  background-color: rgba(19, 35, 47, 0.6);
}
